<div id="PrdoDiv" style="background:#E6D92C; height:100%"
	apply="com.webapp.controller.zk.VistaListaCtrl">
	<grid id="prodGrid">
		<columns sizable="true">
			<column image="/image/Bullet-10x10.png" align="center"
				width="100px"
				<column label="Name" width="100px" />
				<column label="Price" width="50px" />
				<column label="Quantity" width="50px" />
				<column label="Arrive Date" width="110px" />
				<column label="operation" />
		</columns>
	</grid>
</div>